.body {
    background-color: #2644a8;
}

#banner {
    display: flex;
    justify-content: center;
    background-color: #062077;
    color: white;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px
}

#game-ui {
    display: flex;
    justify-content: center;
}

.tag {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 64px;
}

.hand {
    height: 200px;
    min-width: 400px;
}

#buttons {
    display: flex;
    justify-content: center;
}

.button {
    background-color: #062077;
    border: none;
    color: white;
    width: 220px;
    height: 160px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    border: 2px solid #020531;
}

#scoreboard {
    display: flex;
    justify-content: center;
    gap: 16px;
    font-size: 64px;
}

#announcer {
    display: flex;
    justify-content: center;
    font-size: 64px;
}

#announcement {
    padding: 16px;
}